@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  margin: auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  color: #ece8ef;
}

ul {
  list-style-type: none;
}
h1,
.hamburger,
.banner a {
  font-size: 1em;
  display: flex;
  align-items: center;
}

h2 {
  font-size: 2.5em;
}

a {
  color: #ece8ef;
  text-decoration: none;
}
/* a:visited {
  color: black;
} */
a:hover {
  font-style: italic;
}

h3 {
  text-transform: uppercase;
}

hr {
  margin-top: -1em;
}

/* HEADER */

.logo {
  height: 35px;
  border-radius: 15px;
}
header {
  height: 18em;
  padding: 1.5em;
  background-image: linear-gradient(180deg, rgba(18,18,18,1) 0%, rgba(122,130,118,0.34217436974789917) 60%, rgba(18,18,18,1) 100%), url(/images/Midsommar.jpg);
  background-size: cover;
}
nav.hamburger a {
  margin-left: 0.75em;
  text-transform: lowercase;
}
.banner {
  display: flex;
  justify-content: space-between;
}
.moviebanner,
.moviebanner .grid p {
  align-items: center;
  margin-bottom: 0em;
}
.moviebanner .grid {
  height: 0em;
}

/* TOOGLE MENU */
.btn-menu-toggle {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #c89002;
  display: inline-block;
  cursor: pointer;
  color: #c89002;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}

.fa-bars {
  padding-left: 10px;
}

/* Single page */
.fa-clock {
  background-color: rgb(220, 220, 220);
  margin-right: 0.25em;
}

.fa-check {
  background-color: white;
  padding: 0.25em;
  font-size: 20px;
  margin-right: 2.5em;
  color: rgb(220, 220, 220);
  border-radius: 50%;
}

.titlepage {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2.5em;
  letter-spacing: 0.1em;
}

/* CATEGORIE */
.category {
  display: flex;
  align-items: center;
  justify-content: center;
}
.category_cards {
  display: flex;
  align-items: center;
}
.fa-filter {
  margin-left: 10px;
}

/* CARDS */
.cards {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
.grid {
  display: flex;
}
.movie {
  background-image: radial-gradient(circle, rgba(131,127,127,0.5858718487394958) 0%, rgba(73,73,73,1) 65%), url(./images/BlackSwan.jpg);
  background-size: cover;
  border-radius: 30px 30px 30px 30px;
  margin: 0.5em;
  width: 100%;
  padding: 1em;
}
.space {
  margin-left: 0.75em;
}

.available {
  text-align: left;
}
.genre {
  font-size: 0.75em;
}
.title,
.genre,
.note {
  text-align: right;
  margin-top: -0.5em;
}
.title {
  margin-bottom: 0.5em;
}
.infos {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
}
.note {
  font-size: 14px;
  color: grey;
}

.moviewhite {
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  margin-right: 1em;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}
.moviesgrid {
  background-image: radial-gradient(circle, rgba(131,127,127,0.5858718487394958) 0%, rgba(73,73,73,1) 65%), url(./images/Joker.jpg);
  background-size: cover;
  border-radius: 30px 30px 30px 30px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.seriesgrid {
  background-image: radial-gradient(circle, rgba(131,127,127,0.5858718487394958) 0%, rgba(73,73,73,1) 65%), url(./images/Gambit.jpg);
  background-size: cover;
  border-radius: 30px 30px 30px 30px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.cardsgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding-left: 0px;
}

.fullmoviepage {
  height: 100%;
}
.points {
  display: flex;
  justify-content: center;
  margin-top: -1em;
  letter-spacing: 0.25em;
  font-size: 0.5em;
  color: white;
}
.search {
  width: 80%;
  border-radius: 30px 0px 0px 30px;
  background-color: rgb(220, 220, 220);
  border-color: transparent;
  height: 39px;
}
.searchbar {
  margin-top: 1.5em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.btn-search {
  border: 0px;
  padding: 0px;
  background-color: transparent;
}
.fa-magnifying-glass {
  background-color: #c89002;
  border-radius: 0px 30px 30px 0px;
  height: 45px;
  width: 2em;
  display: flex !important;
  align-content: center;
  align-items: center;
  padding-left: 0.5em;
}

.container {
  margin: 20px;
  margin-bottom: 60px;
}

.selected {
  color: black;
}

.allbutton {
  background-color: #c89002;
  color: #121212;
  font-weight: bold;
  border-radius: 30px 30px 30px 30px;
  padding: 0.5em 1em 0.5em 1em;
  margin-left: 5em;
  font-size: 12px;
}
.tagbutton {
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  padding: 0.1em 0.75em 0.1em 0.75em;
  margin-right: 1em;
  font-size: 12px;
}
.taglist {
  padding-left: 0em;
}
.rentbutton {
  background-color: black;
  color: rgb(220, 220, 220);
  margin-left: 75%;
  margin-top: 50%;
  text-transform: uppercase;
  border-radius: 30px 30px 30px 30px;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 16px;
  margin-bottom: 10%;
}
.category .fa-solid {
  margin-left: 1em;
}
.fa-filter, .fa-star.selected{
  color: #c89002;
}
.fa-star{
  color: #ece8ef;
}

.singlemovietitle {
  text-transform: capitalize;
  margin-top: -0.25em;
  font-size: 25px;
}
.director {
  display: flex;
  font-size: 15px;
  margin-top: -2em;
}
.directorstitle {
  font-style: italic;
  margin-right: 1em;
}
.resume {
  font-style: italic;
}

.actors li {
  border: solid;
  border-color: black;
  border-width: 1px;
  padding: 0.5em;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
}
.actors {
  padding-left: 0px;
}

/* FOOTER */

.footer {
  background-color: #121212;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px -10px 10px 0px rgba(200,144,2,1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .fa-brands {
  color: #121212;
  background-color: #c89002;
  padding: 0.25em;
  border-radius: 50%;
  margin-left: 1em;
}
.copyright {
  font-size: 12px;
  text-align: center;
}

.pagination{
  display: flex;
  justify-content: center;
  margin-top: -2.5em;
  padding-left: 0px;
  margin-bottom: 2em;
}
.pagination li{
  margin-left: 0.5em;
  margin-right: 0.5em;
  border: solid;
  border-color: rgba(200,144,2,1);
  border-width: 1px;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
