@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  /*margin: auto;*/
  /* padding: 0; */
  font-family: "Roboto", sans-serif;
}
/* html {
  width: 425px;
  margin: auto;
  font-family: "Roboto", sans-serif;
} */
ul {
  list-style-type: none;
}
h1,
.hamburger,
.banner a {
  font-size: 1em;
  display: flex;
  align-items: center;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  font-style: italic;
}

h3 {
  text-transform: uppercase;
}

hr {
  margin-top: -1em;
}

/* HEADER */
header {
  height: 20em;
  background-color: rgb(220, 220, 220);
  padding: 1.5em;
}
nav.hamburger a {
  margin-left: 0.75em;
  text-transform: lowercase;
}
.banner {
  display: flex;
  justify-content: space-between;
}
.moviebanner,
.moviebanner .grid p {
  align-items: center;
  margin-bottom: 0em;
}
.moviebanner .grid {
  height: 0em;
}

/* TOOGLE MENU */
.btn-menu-toggle {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #c89002;
  display: inline-block;
  cursor: pointer;
  color: #c89002;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}

/* Single page */
.fa-clock {
  background-color: rgb(220, 220, 220);
  margin-right: 0.25em;
}

.fa-check {
  background-color: white;
  padding: 0.25em;
  font-size: 20px;
  margin-right: 2.5em;
  color: rgb(220, 220, 220);
  border-radius: 50%;
}

/* IDK */
/* .center {
  display: flex;
  justify-content: center;
} */
.welcome {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 3em;
  padding-top: 1em;
  padding-right: 0.5em;
  letter-spacing: 0.1em;
}

/* CATEGORIE */
.category {
  display: flex;
  align-items: center;
}

/* CARDS */
.grid {
  display: flex;
  flex-wrap: wrap;
}
.space {
  margin-left: 0.75em;
}

.available {
  text-align: left;
}
.genre {
  font-size: 0.75em;
}
.title,
.genre,
.note {
  text-align: right;
  margin-top: -0.5em;
}
.title {
  margin-bottom: 0.5em;
}
.infos {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
}
.note {
  font-size: 14px;
  color: grey;
}
.movie {
  background-color: rgb(220, 220, 220);
  border-radius: 30px 30px 30px 30px;
  margin-right: 1em;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}
.moviewhite {
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  margin-right: 1em;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}
.moviesgrid {
  background-color: rgb(220, 220, 220);
  border-radius: 30px 30px 30px 30px;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding-left: 0px;
}
.cardsgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding-left: 0px;
}

.fullmoviepage {
  height: 100%;
}
.points {
  display: flex;
  justify-content: center;
  margin-top: -1em;
  letter-spacing: 0.25em;
  font-size: 0.5em;
  color: white;
}
.search {
  width: 75%;
  border-radius: 30px 0px 0px 30px;
  background-color: rgb(220, 220, 220);
  border-color: transparent;
  height: 45px;
}
.searchbar {
  margin-top: 1em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.fa-magnifying-glass {
  background-color: rgb(169, 169, 169);
  border-radius: 0px 30px 30px 0px;
  height: 45px;
  width: 2em;
  display: flex;
  align-items: center;
  padding-left: 0.5em;
}
.selected {
  color: black;
}

.allbutton {
  background-color: rgb(220, 220, 220);
  border-radius: 30px 30px 30px 30px;
  padding: 0.5em 1em 0.5em 1em;
  margin-left: 5em;
  font-size: 12px;
}
.tagbutton {
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  padding: 0.1em 0.75em 0.1em 0.75em;
  margin-right: 1em;
  font-size: 12px;
}
.taglist {
  padding-left: 0em;
}
.rentbutton {
  background-color: black;
  color: rgb(220, 220, 220);
  margin-left: 75%;
  margin-top: 50%;
  text-transform: uppercase;
  border-radius: 30px 30px 30px 30px;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 16px;
  margin-bottom: 10%;
}
.category .fa-solid {
  margin-left: 1em;
}
.singlemovietitle {
  text-transform: capitalize;
  margin-top: -0.25em;
  font-size: 25px;
}
.director {
  display: flex;
  font-size: 15px;
  margin-top: -2em;
}
.directorstitle {
  font-style: italic;
  margin-right: 1em;
}
.resume {
  font-style: italic;
}

.actors li {
  border: solid;
  border-color: black;
  border-width: 1px;
  padding: 0.5em;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
}
.actors {
  padding-left: 0px;
}

/* FOOTER */
footer .center {
  font-size: 12px;
}
footer .banner {
  background-color: rgb(220, 220, 220);
  border-radius: 30px 30px 0px 0px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
footer .fa-brands {
  color: white;
  background-color: black;
  padding: 0.25em;
  border-radius: 50%;
  margin-left: 1em;
}
